.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: #027581;
  color: #fff;
  overflow-y: auto;
  transition: width 500ms;
  /* float: left;
  width: 20%; */
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}
.sidebar-menu {
  padding: 1rem;
}
.sidebar li {
  margin-bottom: 1.2rem;
}
.sidebar a {
  color: #fff;
  font-size: 1rem;
}
.sidebar a span:last-child {
  padding-left: 0.6rem;
}
.table table-striped {
  padding-left: 10%;
}
.main-body {
  margin-left: 240px;
}
/* .row:after {
  content: '';
  display: table;
  clear: both;
} */
